<ion-view view-title="About LU">
    <ion-content>
      <div class="card">
            <div class="item item-body item-calm item-text-wrap center">
              Life University is the vision of New Age Spiritual Master Dr. Newton Kondaveti to establish a Global Center for the learning of Spiritual Science, modeled on the lines of the ancient “Takshashila University” and “Nalanda University”. Its purpose is to be like a lighthouse to mankind by showing the right way to live – with Wisdom, Compassion, Peace and Joy. The singular objective of “Life University” is ‘Awakening Wisdom Within’. The physical manifestation of Life University has begun in 150 acres of land at Vikarabad, Rangareddy District in the state of Andhra Pradesh, India.
            </div>
        </div>
    </ion-content>
</ion-view>
