<ion-view view-title="About">
    <ion-content>
        <ion-list>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/visions_and_missions">
                <i class="icon ion-eye"></i>Vision &amp; Mission <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/principles_and_ethics">
                <i class="icon ion-log-in"></i> Principles &amp; Ethics <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/founder">
                <i class="icon ion-person"></i> The Founder <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/trustees">
                <i class="icon ion-ios-people"></i> Board Of Trustees <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/downloads">
                <i class="icon ion-ios-download"></i> Downloads <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/venue">
                <i class="icon ion-social-reddit"></i> In The News<i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="pad-5 item-icon-left item-icon-right" href="#/app/contact">
                <i class="icon ion-location"></i> Contact Us <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
