<ion-view class="home-screen" view-title="LU">
  <ion-content id="home_page">

    <div class="row">
      <!-- LU Logo -->
      <a class="col col-33 col-offset-33" style="align:center">
        <img src="/img/LU-Logo.png" width="100%" />
      </a>
    </div>

    <!-- Home Page Content -->
    <div class="card item item-trns item-body item-balanced center" style="padding:0px; padding-bottom:20px; margin-top: 20px; margin-bottom: 10px;">
      <p style="font-size: 16px; color="#";> Life University is the vision of New Age Spiritual Master Dr. Newton Kondaveti to establish a Global Center for the learning of Spiritual Science, modeled on the lines of the ancient “Takshashila University” and “Nalanda University”. Its purpose is to be like a lighthouse to mankind by showing the right way to live – with Wisdom, Compassion, Peace and Joy. The singular objective of “Life University” is ‘Awakening Wisdom Within’. The physical manifestation of Life University has begun in 150 acres of land at Vikarabad, Rangareddy District in the state of Andhra Pradesh, India. </p>
    </div>
    <div class="row tabs-icon-top tabs-positive"  style="padding-top:20px; text-align:center">

      <div class="col col-33">
        <a href="#/app/past_speakers" style="text-decoration:none">
          <i class="icon ion-ios-flower" style="font-size: 45px; color: #00796B"></i>
            <h5 style="color:#000">Schools of Wisdom</h5>
        </a>
      </div>

      <div class="col col-33">
        <a href="#/app/past_speakers" style="text-decoration:none">
          <i class="icon ion-load-a" style="font-size: 45px; color: #00796B"></i>
            <h5 style="color:#000">Workshops</h5>
        </a>
      </div>

      <div class="col col-33">
        <a href="#/app/past_speakers" style="text-decoration:none">
          <i class="icon ion-fireball" style="font-size: 45px; color: #00796B"></i>
            <h5 style="color:#000">Meditation</h5>
        </a>
      </div>


    </div>
  </ion-content>
</ion-view>
