<ion-view view-title="MEDITATION">
  <ion-content>
    <h1>Meditation</h1>
    <div class="item item-body item-text-wrap">
      <!-- sdss -->
      <B>Free Meditation Classes:</B>
      <br>Free Meditation Classes are being organized from 08:00 AM to 09:30 AM every Sunday at Life Research Academy, Banjara Hills, Hyderabad.
      In every Meditation Class there is a presentation or discourse on an interesting topic of Spiritual Science by Dr. Newton (when he is in Hyderabad) or by any of the team members.
      <br>
      <br>
      <B>Venue:</B> Life Research Academy, Plot No. 4 Sriniketan Colony, Road. 3 Banjara Hills, Hyderabad Contact Numbers: 040-23554151, 9848019022, 9849492098
      <br>
      <br>See more at: <a href="http://www.liferesearchacademy.com/meditation-classes#sthash.wYh8rXIa.dpuf">Meditation Classes</a>
      <br>
      <br>For more information on meditation please see: <a href="http://www.liferesearchacademy.com/meditation/meditation#sthash.PsQrpYcm.dpuf">Meditation</a>
      <br>
      <br>
      <B>FREE MEDITATION VIDEOS:</B>
      <br>
      <B>Meditation a way of Life</B> by
      <br>Dr. Newton Kondaveti, M.D., Founder LIFE RESEARCH ACADEMY – See more at:
      <br>
      <a href="http://www.liferesearchacademy.com/meditation/meditation#sthash.Ap5CmKtk.dpuf">Meditation</a>
    </div>
  </ion-content>
</ion-view>
