<ion-view view-title="OUR WORK">
  <ion-content>
    <h1>Our Work</h1>
  <p>  Life University is working towards promoting Holistic living based on the principle, “The whole is greater than the sum of its parts”.
  <br>

  <h3>Our Programs:</h3>
  Many meditation and awareness programs have been started at Life University reaching out to the urban as well as rural population, adults and children.
  <br>

  <h3>Soul Coach Training Program</h3>
  Dr. Newton Kondaveti, Founder, Life University brings to you a unique, Holistic Spiritual Training Program called ‘Soul Coach Training’.  This training gives us a thorough understanding on all the aspects of Spirituality and also provides tools on how to integrate and apply it into Physical Life.

  <h3>Shramdaan</h3>
  Shramadaan at Life University aims at creating a Sangha of like-minded people conglomerating together to offer their hands on services on the land from time to time.
  <br>

  <h3> Maitreya Buddha Training Program:</h3>
  This is an advanced level training program for Soul Coaches who are already certified in SCTP by Life University.
  <br>
  <br>
  <b>Little Buddhas Training Program:</b>
  <br>
  The most awaited Little Buddhas Training is conducted by Dr. Newton Kondaveti on behalf of Life University every year for children between the age groups of 5 to 11 years to usher in soul science in the lives of our future generations.

  <h3> Spiritual Agriculture:</h3>
  <b>Vision</b>
  <br>
  Our vision is to grow plants and crops using spiritual energy in a harmonious way with Mother Earth. This unique approach can really revolutionize our farming ways and be of tremendous help to all farmers!
  <br>
  <br>
  <b>Initiatives for Surrounding Villages:</b>
  <br>
  Life University has taken a new leap on spreading its wisdom to everyone. This work is inspiring many people to join the teams and also bringing more awareness to the villages. All the work is going on harmoniously and spreading light into people’s lives.
  <br>
  <br>
  <b>Spreading Meditation in Schools:</b>
Many meditation and awareness programs have been started at Life University reaching out to the urban as well as rural population, adults and children. In addition, Life University is also publishing many magazines and books to enable spiritual wisdom to reach a wider audience.

  <h3>Soul Care Center:</h3>
  Dr. Newton Kondaveti has also launched a Soul Care Centre in Vikarabad for people who need holistic help, support and training. Many more such centers will be launched in the near future in different towns and cities creating a powerful self-empowering support system for one and all.

  </ion-content>
</ion-view>
