<ion-view view-title="Principles &amp; Ethics">
    <ion-content>
        <div class="card">

          <div class="item item-divider item-text-wrap" style="text-align:center">

              <img src="img/about/LFI_Principles.jpg" width="100%" height="auto">
          </div>
        </div>
        <div class="card">
          <h3>Principles &amp; Ethics :</h3>
          <h4>Principles </h4>
            <div class="item item-text-wrap">
              <p>The founding principles of Life University are derived from the innate wisdom of the founders based on their own experiences. They are also inspired by universal principles, wisdom of great masters, and universal laws. Universal Laws operate impartially anywhere and everywhere. We are all subject to these laws irrespective of whether we are aware of them or not.</p>
            </div>
            <div class="item item-text-wrap">
              <ol>
                <li>Simple Meditation – ‘Ana Pana Sati’ or Breath Awareness</li>
              </ol>
            </div>
            <div class="item item-divider item-energized item-text-wrap">
              In line with the above vision, Life University will:
            </div>
            <div class="item item-text-wrap">
              <li>Create an open, supportive, unconditional and holistic environment for not just gaining knowledge, but assimilating the concepts learnt into one’s daily life, thereby transforming it into profound wisdom.</li>
              <li>Help people learn that Spirituality is not escaping life but embracing life fully.</li>
              <li>Help people understand spiritual truths and also guide them to practice and live these truths.</li>
              <li>Bring all teachings of great masters from across the world onto a single platform.</li>
              <li>Provide answers to many of the unanswered questions plaguing mankind.</li>
              <li>Enable people to see the ‘big picture’ wherein, inspite of feeling that at times humankind seems to be moving backwards or going around in circles, we are in effect continuously moving upward in a spiral.</li>
            </div>
        </div>

    </ion-content>
</ion-view>
