<ion-view view-title="Schedule">
  <ion-content>
    <h1>Schedule</h1>
    <b>Two-Day Workshop on "PAST LIFE REGRESSION AND SPIRITUAL SCIENCE"</b>
    <br>
    Venue: Plot No.4, Sriniketan Colony, Road No.3, Banjara Hills, Hyderabad – 500034
    <br>
    Date: June 18th 2016 to June 19th 2016
    <br>
    Contact: Sridevi Mobile: +91-9848019022 Contact: Rajashekhar Mobile: +91-9849094575
    <br>
    Email: info@liferesearchacademy.com
    <br>
    <br>

    <b>Two-Day Workshop on "PAST LIFE REGRESSION AND SPIRITUAL SCIENCE"</b>
    <br>
    Venue: Holiday Inn, Aerocity, Delhi
    <br>
    Date: July 23rd 2016 to July 24th 2016
    <br>
    Contact: Ambica Khanna Mobile: +91-9811542078 Contact: Neha Baid Mobile: +91-9811648153
    <br>
    Email: info@liferesearchacademy.com
    <br>
    <br>

    <b>Two-Day Workshop on "PAST LIFE REGRESSION AND SPIRITUAL SCIENCE"</b>
    <br>
    Venue: Ahmedabad
    <br>
    Date: September 10th 2016 to September 11th 2016
    <br>
    Contact: Ghanshyam Gohil Mobile: +91-9724334123 Mobile: +91-9426333233
    <br>
    Email: info@liferesearchacademy.com
    <br>
    <br>

    <b>Two-Day Workshop on "Kundalini Energy"</b>
    Venue: Baroda
    <br>
    Date: September 17th 2016 to September 18th 2016
    <br>
    Contact: Ghanshyam Gohil Mobile: +91-9724334123 Mobile: +91-9426333233
    <br>
    Email: info@liferesearchacademy.com
    <br>
    Contact: Sridevi Mobile: +91-9848019022 Contact: Rajashekhar Mobile: +91-9849094575
    <br>
    Email: info@liferesearchacademy.com
  </ion-content>
</ion-view>
