<ion-view view-title="Training Programs">
  <ion-content>
    <h1>Training Programs</h1>
    If you’d like to do more research and explore one particular field of your interest, these training programs will help you get into it.
    <br>
    - See more at: http://www.liferesearchacademy.com/#sthash.YuJCuQQr.dpuf
    <br>
    <br>
    <b>List of Training Programs:</b>
    <br>
    The Art & Science of Past Life Regression
    <br>
    Rebirthing - Breathwork
    <br>
    Inner Child Work Family
    <br>
    Constellations: Transgenerational Healing
    <br>
    Soul Science
    <br>
    Breath Mastery
    <br>
    <br>
    – See more at: http://www.liferesearchacademy.com/trainingprograms#sthash.EDEuiKyi.dpuf
    <br>
    <br>
    <b>Six-Day Residential Training Program on "THE ART & SCIENCE OF PAST LIFE REGRESSION"</b>
    <br>
    Venue: PRAGATI RESORTS, Chilkuru Balaji Temple Road, Proddutur Village, Shankarpally Mandal, Ranga Reddy District, Hyderabad 501203, Telangana
    <br>
    Date: June 21st 2016 to June 26th 2016
    <br>
    Contact: Sridevi Mobile: +91-9848019022 Contact: Rajashekhar Mobile: +91-9849094575
    <br>
    Email: info@liferesearchacademy.com
    <br>
    <br>
    <b>Six-Day Residential Training Program on "INNER CHILD RETREAT"</b>
    <br>
    Venue : PRAGATI RESORTS, Chilkuru Balaji Temple Road, Proddutur Village, Shankarpally Mandal, Ranga Reddy District, Hyderabad 501203, Telangana
    <br>
    Date: October 15th 2016 to October 20th 2016
    <br>
    Contact: Sridevi Mobile: +91-9848019022 Contact: Rajashekhar Mobile: +91-9849094575
    <br>
    Email: info@liferesearchacademy.com
    <br>
    <br>
    <b>Six-Day Residential Training Program on "THE ART & SCIENCE OF PAST LIFE REGRESSION"</b>
    <br>
    Venue: PRAGATI RESORTS, Chilkuru Balaji Temple Road, Proddutur Village, Shankarpally Mandal, Ranga Reddy District, Hyderabad 501203, Telangana
    <br>
    Date: December 13th 2016 to December 18th 2016
    <br>
    Contact: Sridevi Mobile: +91-9848019022 Contact: Rajashekhar Mobile: +91-9849094575
    <br>
    Email: info@liferesearchacademy.com
  </ion-content>
</ion-view>
