<ion-view view-title="Visions &amp; Missions">
    <ion-content>
        <div class="card">
          <div class="item item-divider item-text-wrap" style="text-align: center">
              <iframe width="100%" src="https://www.youtube.com/embed/Fokt84qL95w" frameborder="0" allowfullscreen></iframe>
          </div>


        </div>
        <div class="card">
            <div class="item item-divider item-energized">
                The vision of Life University is:
            </div>
            <div class="item item-text-wrap">
              <li>Enabling the exuberant flowering of human consciousness into its fullest potential</li>
              <li>Recreating paradise through understanding the sacred connection to Mother Earth and living in the true spirit of abundance</li>
              <li>Living in complete harmony in self-sustaining, self-governing, supportive communities</li>
            </div>
            <div class="item item-divider item-energized item-text-wrap">
              In line with the above vision, Life University will:
            </div>
            <div class="item item-text-wrap">
              <li>Create an open, supportive, unconditional and holistic environment for not just gaining knowledge, but assimilating the concepts learnt into one’s daily life, thereby transforming it into profound wisdom.</li>
              <li>Help people learn that Spirituality is not escaping life but embracing life fully.</li>
              <li>Help people understand spiritual truths and also guide them to practice and live these truths.</li>
              <li>Bring all teachings of great masters from across the world onto a single platform.</li>
              <li>Provide answers to many of the unanswered questions plaguing mankind.</li>
              <li>Enable people to see the ‘big picture’ wherein, inspite of feeling that at times humankind seems to be moving backwards or going around in circles, we are in effect continuously moving upward in a spiral.</li>
            </div>
        </div>
        
    </ion-content>
</ion-view>
