<ion-view view-title="workshops">
  <ion-content>
    <h1>workshops</h1>
    Life Research Academy offers various workshops which accelerate one’s spiritual growth by touching the aspects of Past Lives, Present Relationships and much more -
    <br>
    See more at: ttp://www.liferesearchacademy.com/#sthash.YuJCuQQr.dpuf
    <br>
    <br>
    <b>Workshops listing page: </b>
    <br>
	•	Past-Life-Regression & Spiritual Science
      <br>
	•	Radiant Relationships
      <br>
	•	Money and Spirituality
      <br>
	•	Kundalini Energy
      <br>
	•	Consciousness Heals
      <br>
	•	Family Constellation
      <br>
	•	Self-Mastery
      <br>
	•	Sacred Breath
      <br>
  </ion-content>
</ion-view>
